BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 88
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive
AllowShortBlocksOnASingleLine: Always
PointerAlignment: Left
QualifierAlignment: Left
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false